* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1E242D;
  width: 100%;
  height: 100vh;
}

.header__img--desktop {
  display: none;
}


.header__img--mobile {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.header__title {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.fa-chevron-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -20px;
  text-align: center;
  font-size: 40px;
  color: white;
}

@media screen and (min-width: 900px) {
  .header {
    display: block;
    background-color: #fff;
    width: 100%;
  }

  .header__title,
  .header__arrow,
  .header__img--mobile {
    display: none;
  }

  .header__img--desktop {
    display: block;
    max-width: 90%;
    margin: 125px auto 0px;
  }
}

/* Nav */
.nav {
  display: none;
}

@media screen and (min-width: 900px) {
  .nav {
    position: relative;
    display: flex;
    margin: 100px auto 0;
    background-color: black;
    border-radius: 20px;
    width: 900px;
    justify-content: space-between;
  }

  .nav__group {
    display: flex;
    height: 50px;
    width: 350px;
    align-items: center;
    justify-content: space-around;
  }

  .nav__link {
    color: white;
    text-decoration: none;
  }

  .nav__link:hover {
    color: #A85050
  }

  .nav__logo {
    width: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: -75px;
  }
}

/* Nosotros */
.nosotros {
  background-color: #E0E0E0;
  padding: 30px 0;
}


.nosotros__div {
  display: flex;
  flex-direction: column-reverse;
}


.nosotros__img {
  display: block;
  width: 95%;
  max-width: 510px;
  margin: 0 auto 30px;
}

.nosotros__description {
  margin-left: 10px;
  width: 90%;
}

.nosotros__title {
  font-weight: 700;
  font-size: 30px;

}

.nosotros__subTitle {
  margin-top: -10px;
  color: #A61C1C;
  font-size: 24px;
}

.nosotros__description {
  line-height: 30px;
}

@media screen and (min-width: 900px) {
  .nosotros {
    padding: 80px 0 50px;
  }

  .nosotros__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    justify-content: space-between;
  }

  .nosotros__div {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .nosotros__description {

    margin: 0;
    text-align: center;
  }

  .nosotros__title {
    font-weight: 700;
    font-size: 30px;

  }

  .nosotros__subTitle {
    margin-top: -10px;
    color: #A61C1C;
    font-size: 24px;
  }

  .nosotros__description {
    line-height: 30px;
  }
}


/* Horarios */
.horarios {
  background-color: #1E242D;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horarios h1 {
  color: white;
  text-align: center;
  padding-top: 30px;
  margin-top: 0;
}

.horarios__desktop {
  display: none;
}

.horarios__mobile {
  height: 750px;
}

.horarios__mobile h2 {
  color: white;
  text-align: center;
}

.horarios__mobile h2:last-of-type {
  margin-top: 40px;
}

.horarios__mobile h3 {
  color: #A85050;
  text-align: center;
  margin-top: 30px;
}

.horarios__mobile p {
  color: white;

  text-align: center;
}

.horarios__mobile .cta {
  background-color: #A85050;
  display: block;
  width: 260px;
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px auto;
  font-weight: 500;
  padding: 5px;
}

@media screen and (min-width: 900px) {
  .horarios__mobile {
    display: none;
  }

  .horarios__desktop {
    display: block;
    border-spacing: 10px;
    border-collapse: separate;
    margin-bottom: 70px;
  }

  .horarios h1 {
    padding: 50px 0;
    margin: 0;
  }

  .hora {
    width: 85px;
    background-color: #A85050;
    color: white;
    font-size: 20px;
    font-weight: 200;
  }

  .box {
    background-color: white;
    width: 170px;
    height: 50px;
    text-align: center;
    font-size: 24px;
  }

  .box--sabado {
    display: flex;
  }

  .hora--sabado {
    color: white;
    font-size: 20px;
    font-weight: 200;
    width: 50%;
    height: 100%;
    background-color: #A85050;
    border: none;
  }

  .hora--sabado p {
    margin: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clase--sabado {
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* Footer */
footer {
  background-color: #2A323D;
  color: white
}

.footer__logo {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 0;
}

.footer__msg {
  color: white;
  font-size: 20px;
  width: 315px;
  margin: 0 auto;
}

.footer__redes {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  margin: 20px
}

.mapouter {
  display: none;
}

.fa-whatsapp {
  font-size: 50px;
  color: white;
}

.fa-instagram {
  font-size: 50px;
  color: white;
}

.footer__direccion {
  text-align: center;
  color: white;
  font-size: 20px;
  width: 315px;
  margin: 0 auto 20px;

}

.footer__copyright {
  font-size: 12px;
  color: white;
  text-align: center;
  background-color: #1E242D;
  padding: 10px;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  #contacto {
    padding: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mapouter {
    display: block;
    padding-top: 40px;
  }

  .contacto__left {
    width: 500px;
  }

  .contacto__container {
    width: 1200px;
    display: flex;
    justify-content: space-around;
  }

  .footer__direccion {
    display: none;

  }

  .footer__copyright {
    background-color: #2A323D;
    margin-top: 50px;
  }
}